    /* Place your CSS styles in this file */
    :root{
      --color-1: #673ab7;
    }
    img {
      height: auto;
      max-width: 100%;
    }
    p{
      color:white;
    }
    *{
      box-sizing: border-box;
      margin:0;
      padding:0;
      cursor: url("../ressources/cursors/normal.cur"),default; 
    }
    a{
      text-decoration: none;
    }
    ul{
      list-style: none;
    }
    .container{
      max-width: 1170px;
      margin: auto;
    }
    .row{
      display: flex;
      flex-wrap: wrap;
    }
    .align-items-center{
      align-items: center;
    }
    .justify-content-between{
      justify-content: space-between;
    }
    .header{
      background-color: var(--color-1);
      padding:12px 0;
      position: relative;
    }
    .header .logo,
    .header .nav{
      padding:0 15px;
    }
    .header .logo a{
      font-size: 30px;
      color: #ffffff;
      text-transform: capitalize;
    }
    .header .nav ul li{
      display: inline-block;
      margin-left: 40px;
    }
    .header .nav ul li a{
      display: block;
      font-size: 20px;
      padding:10px 5;
      color: rgba(255,255,255,0.7);
      text-transform: capitalize;
      transition: all 0.5s ease;
    }
    .header .nav ul li a:hover,
    .header .nav ul li a.active{
      color: #ffffff;
    }
    .header #nav-check{
      position: absolute;
      opacity:0;
      pointer-events: none;
    }
    .nav-toggler{
      height: 34px;
      width: 44px;
      background-color: #ffffff;
      border-radius: 4px;
      cursor: url("../ressources/cursors/link.cur"),pointer;
      display: none;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
    }
    .nav-toggler span{
      display: block;
      height: 2px;
      width: 20px;
      background-color: var(--color-1);
      position: relative;
    }
    .nav-toggler span::before,
    .nav-toggler span::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--color-1);
      left:0;
    }
    .nav-toggler span::before{
      top: -6px;
    }
    .nav-toggler span::after{
      top: 6px;
    }
    @media(max-width: 991px){
        .nav-toggler{
          display: flex;
        }
        .header .nav{
          position: absolute;
          left:0;
          top:100%;
          width: 100%;
          background-color: var(--color-1);
          border-top: 1px solid rgba(255,255,255,0.2);
          opacity:0;
          visibility: hidden;
        }
        .header .nav ul li{
          display: block;
          margin:0;
        }
        .header #nav-check:checked ~ .nav{
          opacity: 1;
          visibility: visible;
        }
        .header #nav-check:focus ~ .nav-toggler{
          box-shadow: 0 0 15px #000000;
        }
        .header #nav-check:checked ~ .nav-toggler span{
          background-color: transparent;
        }
        .header #nav-check:checked ~ .nav-toggler span::before{
          top:0;
          transform: rotate(45deg);
        }
        .header #nav-check:checked ~ .nav-toggler span::after{
          top:0;
          transform: rotate(-45deg);
        }
    }
    h1 {
        font-size:8vw;
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: "Helvetica";
        font-weight: bold;
    }
    /*title*/
    .Jayce{
      font-size:6vw;
      color: white;
      text-align: center;
      font-family: "Helvetica";
      font-weight: bold;
  }
/*title*/
  .Ryze{
    font-size:6vw;
    color: white;
    text-align: center;
    font-family: "Helvetica";
    font-weight: bold;
}
.Ryzep{
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 2vw;
}
.ryzeimg{
  max-width:100%;
  display: block;
  height: auto;
  width: auto;
  margin:auto;
}
.ryzebox{
  background-color: rgb(111, 0, 255);
  margin: 30px auto;
  width: 100%;
  padding: 8px; 
}
/*title*/
.Anivia{
  font-size: 6vw;
  color: white;
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
}
.aniviap{
text-align: center;
font-family: "Helvetica";
font-weight: bold;
font-size: 2vw;
}
.aniviaimg{
max-width:100%;
display: block;
height: auto;
width: auto;
margin:auto;
}
.aniviabox{
  background-color: rgb(0, 255, 255);
  margin: 30px auto;
  width: 100%;
  padding: 8px; 
}
/*title*/
.Senna{
  font-size: 6vw;
  color: white;
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
}
.Sennap{
text-align: center;
font-family: "Helvetica";
font-weight: bold;
font-size: 2vw;
}
.sennaimg{
max-width:100%;
display: block;
height: auto;
width: auto;
margin:auto;

}
.sennabox{
  background-color: rgb(59, 197, 197);
  margin: 30px auto;
  width: 100%;
  padding: 8px; 
}
/*title*/
.Lux{
  font-size: 6vw;
  color: white;
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
  
}
.Luxp{
text-align: center;
font-family: "Helvetica";
font-weight: bold;
font-size: 2vw;
}
.luximg{
  max-width:100%;
display: block;
height: auto;
width: auto;
margin:auto;

}
.luxbox{
  background-color: rgb(230, 198, 16);
  margin: 30px auto;
  width: 100%;
  padding: 8px; 
}
/*title*/
.Kogmaw{
  font-size: 6vw;
  color: white;
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
}
.Kogmawp{
text-align: center;
font-family: "Helvetica";
font-weight: bold;
font-size: 2vw;
}
.map{
    max-width:100%;
    display: block;
    height: auto;
    width: auto;
    margin:auto;
}
.kogmawimg{
  max-width:100%;
display: block;
height: auto;
width: auto;
margin:auto;
}
.kogmawbox{
  background-color: rgb(255, 51, 0);
  margin: 30px auto;
  width: 100%;
  padding: 8px; 
}
  /*title*/
    .Aatrox{
      font-size: 6vw;
      color: white;
      text-align: center;
      font-family: "Helvetica";
      font-weight: bold;
  } 
  .aatroximg{
    max-width:100%;
    display: block;
    height: auto;
    width: auto;
    margin:auto;
  }
  .aatroxbox{
    background-color: rgb(139, 8, 8);
    margin: 30px auto;
    width: 100%;
    padding: 8px; 
  }
  .Aatroxp{
    text-align: center;
    font-family: "Helvetica";
    font-weight: bold;    
    font-size: 2vw;
    color:white;
  }
  .jayceimg{
    max-width:100%;
    display: block;
    height: auto;
    width: auto;
    margin:auto;
  }
  .JayceP{
    text-align: center;
    font-family: "Helvetica";
    font-weight: bold;
    color:white;
    font-size: 2vw;
  }
  .jaycebox{
    background-color: rgb(0, 119, 255);
    margin: 30px auto;
    width: 100%;
    padding: 8px; 
  }
  /*title*/
  .Nidalee{
    font-size: 6vw;
    color: white;
    text-align: center;
    font-family: "Helvetica";
    font-weight: bold;
}
  .nidaleeimg{
    max-width:100%;
    display: block;
    height: auto;
    width: auto;
    margin:auto;
  }
  .nidaleebox{
    background-color: rgb(10, 97, 7);
    margin: 30px auto;
    width: 100%;
    padding: 8px; 
  }
  .Nidaleep{
    text-align: center;
    font-family: "Helvetica";
    font-weight: bold;
    color:white;
    font-size: 2vw;
  }
  /*title*/
  .Leesin{
    font-size: 6vw;
    color: white;
    text-align: center;
    font-family: "Helvetica";
    font-weight: bold;
}
.Leesinp{
  text-align: center;
  font-family: "Helvetica";
  font-weight: bold;
  color:white;
  font-size: 2vw;}
  .leesinimg{
    max-width:100%;
    display: block;
    height: auto;
    width: auto;
    margin:auto;
  }
  .leesinbox{
    background-color: rgb(51, 207, 255);
    margin: 30px auto;
    width: 100%;
    padding: 8px; 
  }
    .AboutLolH2{
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: "Helvetica";
        font-weight: bold;
        
        font-size: 4vw;     
    }
    
    .AboutLolH21{
      color: #673ab7;
      text-align: center;
      font-family: "Anson";
      font-size: 6vw;
      font-weight: 300;   
      border: 8px #673ab7 inset;
      border-radius: 10px;
  }
    .AboutLolP{
        text-align: center;
        font-family: "Helvetica";
        font-weight: bold;
        font-size: 2vw; 
        color: white;
    }
      body {
          line-height: 1.5;
          font-family: sans-serif;
          background: radial-gradient(#673ab7, #452c70);
      }
    /*HyperLink*/
    a:link {
        color: #bfa5eb; 
        background-color: transparent; 
        text-decoration: none;
        cursor: url("../ressources/cursors/link.cur"),pointer;
      }
      
      a:hover {
        color: #ffffff;
        background-color: transparent;
        text-decoration: underline;
      }
      a:active {
        color: rgb(46, 46, 46);
        background-color: transparent;
        text-decoration: underline;
      }
      .roles{
        border-collapse: separate;
        border-spacing: 6px;
        table-layout: fixed;
        text-align: center;
        width: 100%;
      }
      #roles img {
        transition: all 0.2s ease-in-out;
      }
      #roles img:hover {
        transform: scale(1.1);
        cursor: url("../ressources/cursors/link.cur"),pointer;
        background-color: #673ab7;
        
      }
      #roles td span {
        display: block;
        text-align: center;
        margin: 0 auto;
        background-color: #673ab7;
        
      }
      .content {
        width: 600px;
        margin: 0 auto;
        color: white;
      }
      .AboutLol{
        
          background-color: #673ab7;
          margin: 20px auto;
          width: 100%;
          padding: 8px;
        }
      .AboutLol p {
        text-align: center;
      }
      /*Tableau*/
      .content-table {
          width: 100%;
          padding: 8px;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        color: white;
        background-color: #673ab7;
      }
      .content-table thead tr {
        background-color: #59339b;
        color: #ffffff;
        text-align: center;
        font-weight: bold;
      }
      .content-table th,
      .content-table td {
        padding: 12px 15px;
      } 
      tr:nth-child(even) {
        background-color: #7844d1;
      }
      .content-table tbody tr:hover{
        background-color: #f3f3f3;
        color: #673ab7;
        
      }
    @media screen and (max-width: 500px) {
      .content-table thead{
        display: none;
      }

      .content-table{
        width: 100%;
      }
      .content-table td{
        display: block;
      }
      .content-table td:first-child{
        background-color: #59339b;
        text-align: center;
      }

      .content-table td:nth-child(2)::before{
        content: "Role";
      }
      .content-table td:nth-child(3)::before{
        content: "Champion";
      }
      .content-table td:nth-child(4)::before{
        content: "Winrate";
      }
      .content-table  td{
        text-align: center;
      }
      .content-table td::before{
        float: left;
        margin-right: 3rem;
        font-weight: bold;
      } 
    }
    @media screen and (max-width: 500px) {
    h3{
      font-size: 3vw;
    }
  }

  .container-aboutu{
    margin: 30px auto;
    padding: 25px 30px;
    max-width: 700px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
  }

  .container-aboutu .title-aboutu{
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }

  .container-aboutu .title-aboutu::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color:#673ab7;
  }

  .container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:20px 0 12px 0;
  }
  form .user-details .input-box{
    
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #673ab7;
  }

  .user-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
  }

  form .gender-details .gender-title{
    font-size: 20px;
    font-weight: 500;
  }

  form .gender-details .category{
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
  }

  form .gender-details .category label{
  display: flex;
  align-items: center;
  }

  form .gender-details .category .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
  }
  #dot-1:checked ~ .category label .one,
  #dot-2:checked ~ .category label .two,
  #dot-3:checked ~ .category label .three{
    border-color: #d9d9d9;
    background:#673ab7;
  }

  form input[type="radio"]{
    display: none;
  }

  form .button{
    height: 45px;
    margin: 10px 0;
  }

  form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    background:#673ab7;
    letter-spacing: 1px;
    border-radius: 5px;
  }

  form .button input:hover{
    background: #59339b;
  }



  .container-aboutu textarea{
    width: 100%;
    height: 70px;
    padding: 15px;
    border-radius: 5px;
    outline: none;
    resize:none;
    font-size: 16px;
    border-color: #bfbfbf;
  }
  @media (max-width: 584px) {
    .container-aboutu{
      max-width: 100%;
    }   

    form .user-details .input-box{
      margin-bottom: 15px;
      width: 100%;
    }

    form .gender-details .category{
    width: 100%;
    }
    .container-aboutu form .user-details{
      max-height: 300px;
      overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
      width: 0;
    }
  }

