    /* Place your CSS styles in this file */

    h1 {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: "Helvetica";
        font-weight: bold;
    }

     p {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: "Helvetica";
        font-weight:   bold;
        letter-spacing: 1px;
    }
    
    .AboutLolH2{
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: "Helvetica";
        font-weight: bold;
        line-height: 2;
        font-size: 30px;     
    }
    .AboutLolP{
        text-align: center;
        font-family: "Helvetica";
        font-weight: bold;
        line-height: 2;
        font-size: 20px; 
    }
    .header {
        padding: 40px;
        text-align: center;
        background: #ffbc05;
        color: white;
        font-size: 30px;
        
      }
   
      body {
        background-color: rgb(0, 0, 0);
    }

    /* The navigation menu */
.navbar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
        color: white;

  }
  
  /* Navigation links */
  .navbar a {
    float: left;
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Helvetica"
  }
  
  /* The subnavigation menu */
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  /* Subnav button */
  .subnav .subnavbtn {
    font-size: 25px; 
    border: none;
    outline: none;
    color: #ffbc05;
    padding: 14px 16px;
    background-color: inherit;
    font-family: "Helvetica";
    margin: 0;
  }
  
  /* Add a red background color to navigation links on hover */
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: #222222;
  }
  
  /* Style the subnav content - positioned absolute */
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    color: #ffbc05;     
    background-color: #000000;
    width: 100%;
    z-index: 1;
  }
  
  /* Style the subnav links */
  .subnav-content a {
    float: left;
    color: #ffbc05;
    text-decoration: none;
  }
  
  /* Add a grey background color on hover */
  .subnav-content a:hover {
    background-color: #ffbc05;
    color: black;
  }
  
  /* When you move the mouse over the subnav container, open the subnav content */
  .subnav:hover .subnav-content {
    display: block;
  }

    /*HyperLink*/
    a:link {
        color: #ffbc05; 
        background-color: transparent; 
        text-decoration: none;
      }
      
      a:visited {
        color: #ffd86c;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: #ffffff;
        background-color: transparent;
        text-decoration: underline;
      }
      
      a:active {
        color: rgb(46, 46, 46);
        background-color: transparent;
        text-decoration: underline;
      }
      /*Button about lol*/
      .AboutLolButton {
        background-color: #c08d00; /* Green */
        color: white;
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: auto;
        display: flex; /* or display:grid */
        justify-content: center;
        
      }