    /* Place your CSS styles in this file */
    :root{
      --color-1: #673ab7;
    }
    
    
    *{
      box-sizing: border-box;
      margin:0;
      padding:0;
    }
    a{
      text-decoration: none;
    }
    ul{
      list-style: none;
    }
    .container{
      max-width: 1170px;
      margin: auto;
    }
    .row{
      display: flex;
      flex-wrap: wrap;
    }
    .align-items-center{
      align-items: center;
    }
    .justify-content-between{
      justify-content: space-between;
    }
    /*header*/
    .header{
      background-color: var(--color-1);
      padding:12px 0;
      position: relative;
    }
    .header .logo,
    .header .nav{
      padding:0 15px;
    }
    .header .logo a{
      font-size: 30px;
      color: #ffffff;
      text-transform: capitalize;
    }
    .header .nav ul li{
      display: inline-block;
      margin-left: 40px;
    }
    .header .nav ul li a{
      display: block;
      font-size: 20px;
      padding:10px 0;
      color: rgba(255,255,255,0.7);
      text-transform: capitalize;
      transition: all 0.5s ease;
    }
    .header .nav ul li a:hover,
    .header .nav ul li a.active{
      color: #ffffff;
    }
    .header #nav-check{
      position: absolute;
      opacity:0;
      pointer-events: none;
    }
    .nav-toggler{
      height: 34px;
      width: 44px;
      background-color: #ffffff;
      border-radius: 4px;
      cursor: pointer;
      display: none;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
    }
    .nav-toggler span{
      display: block;
      height: 2px;
      width: 20px;
      background-color: var(--color-1);
      position: relative;
    }
    .nav-toggler span::before,
    .nav-toggler span::after{
       content: '';
       position: absolute;
       width: 100%;
       height: 100%;
       background-color: var(--color-1);
       left:0;
    }
    .nav-toggler span::before{
      top: -6px;
    }
    .nav-toggler span::after{
      top: 6px;
    }
    @media(max-width: 991px){
        .nav-toggler{
          display: flex;
        }
        .header .nav{
          position: absolute;
          left:0;
          top:100%;
          width: 100%;
          background-color: var(--color-1);
          border-top: 1px solid rgba(255,255,255,0.2);
          opacity:0;
          visibility: hidden;
        }
        .header .nav ul li{
          display: block;
          margin:0;
        }
        .header #nav-check:checked ~ .nav{
           opacity: 1;
           visibility: visible;
        }
        .header #nav-check:focus ~ .nav-toggler{
          box-shadow: 0 0 15px #000000;
        }
        .header #nav-check:checked ~ .nav-toggler span{
          background-color: transparent;
        }
        .header #nav-check:checked ~ .nav-toggler span::before{
          top:0;
          transform: rotate(45deg);
        }
        .header #nav-check:checked ~ .nav-toggler span::after{
          top:0;
          transform: rotate(-45deg);
        }
    }

    h1 {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: "Helvetica";
        font-weight: bold;
    }

     p {
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: "Helvetica";
        font-weight:   bold;
        letter-spacing: 1px;
        
    }
    .Jayce{
      color: white;
      text-align: center;
      font-family: "Helvetica";
      font-weight: bold;
      font-size: 70px;
      background-color:rgb(0, 119, 255);
      letter-spacing: 20px;
      
     
  }

  .Aatroxp{
    text-align: center;
    font-family: "Helvetica";
    font-weight: bold;
    
    font-size: 20px;
    

  }

  .JayceP{
    text-align: center;
    font-family: "Helvetica";
    font-weight: bold;
    
    font-size: 20px;
    

  }
    .Aatrox{
      color: white;
      text-align: center;
      font-family: "Helvetica";
      font-weight: bold;
      background-color: rgb(139, 8, 8);
      font-size: 70px;
      letter-spacing: 20px;

           
  }
  .aatroximg{
    display: block;
    height: auto;
    width: auto;
    margin:auto;
    border: 3px solid rgb(139, 8, 8);
  }

  .jayceimg{
    display: block;
    height: auto;
    width: auto;
    margin:auto;
    border: 3px solid rgb(0, 119, 255);
  }
  
    .AboutLolH2{
        color: rgb(255, 255, 255);
        text-align: center;
        font-family: "Helvetica";
        font-weight: bold;
        
        font-size: 50px;     
    }
    .AboutLolH21{
      color: rgb(255, 255, 255);
      text-align: center;
      font-family: "Helvetica";
      font-weight: bold;
      line-height: 2;
      font-size: 30px;     
  }
s
    .AboutLolP{
        text-align: center;
        font-family: "Helvetica";
        font-weight: bold;
        
        font-size: 20px; 
    }
      body {
          line-height: 1.5;
font-family: sans-serif;
background-color: #000000;
}
    /*HyperLink*/
    a:link {
        color: #673ab7; 
        background-color: transparent; 
        text-decoration: none;
      }
      
      a:visited {
        color: #804bdb;
        background-color: transparent;
        text-decoration: none;
      }
      
      a:hover {
        color: #ffffff;
        background-color: transparent;
        text-decoration: underline;
      }
      
      a:active {
        color: rgb(46, 46, 46);
        background-color: transparent;
        text-decoration: underline;
      }
      /*Button about lol*/
      .AboutLolButton {
        background-color: #673ab7; /* Green */
        color: white;
        padding: 10px 20px;
        text-align: center;
        display: inline-block;
        font-size: 16px;
        margin: auto;
        display: flex; /* or display:grid */
        justify-content: center;
        
      }